In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
cd /content/drive/My Drive/flipchal

/content/drive/My Drive/flipchal

In [0]:
from PIL import Image
import numpy as np
import pickle
import random
import pandas as pd

In [0]:
def Normalize(image,mean,std):
    for channel in range(3):
        image[:,:,channel]=(image[:,:,channel]-mean[channel])/std[channel]
    return image

In [0]:
id_to_data={}
id_to_size={}

In [0]:
f = pd.read_csv('./training.csv')

In [0]:
f.head()

                                          image_name   x1   x2   y1   y2
0             JPEG_20160706_121146_1000145715002.png  115  495  143  325
1             JPEG_20161119_174038_1000690577600.png   23  457   61  409
2  147444927651111470309333776-Roadster-Men-Casua...   37  601   13  470
3                   147772332675720161028_161611.png   27  602  162  385
4                   1473315333651DeeplearnS11638.png   60  586  174  325

In [0]:
len = 3500

In [0]:
for i in range(len):
    id = i
    path = f.iloc[10500+i]['image_name']
    image=Image.open("./train_set/"+path).convert('RGB')
    id_to_size[int(id)]=np.array(image,dtype=np.float32).shape[0:2]
    image=image.resize((224,224))
    image=np.array(image,dtype=np.float32)
    image=image/255
    image=Normalize(image,[0.485,0.456,0.406],[0.229,0.224,0.225])
    id_to_data[int(id)]=image
    if (int(id)%500)==0:
        print('Pic no '+ str(id)+' ')

Pic no 0
Pic no 500
Pic no 1000
Pic no 1500
Pic no 2000
Pic no 2500
Pic no 3000

In [0]:

id_to_data=np.array(list(id_to_data.values()))
id_to_size=np.array(list(id_to_size.values()))

In [0]:
f=open("./id_to_data4","wb+")
pickle.dump(id_to_data,f,protocol=2)
print('ID data file written')
f=open("./id_to_size4","wb+")
pickle.dump(id_to_size,f,protocol=2)

ID data file written